@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/static/pretendard.css');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Apple SD Gothic Neo',
    'Pretendard Variable', Pretendard, Roboto, 'Noto Sans KR', 'Segoe UI',
    'Malgun Gothic', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
    sans-serif;
  color: #191919;
}

.mwBtn {
  background-color: #2ac1bc;
  border-radius: 25px;
  width: 100px;
  height: 50px;
  color: #fff;
  font-size: 14px;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.mwBtn:hover {
  background-color: #0d9994;
}

.mwBtn-white {
  background-color: #fff;
  border-radius: 25px;
  color: #2ac1bc;
  width: 100px;
  height: 50px;
  font-size: 14px;
  box-shadow: 0px 8px 20px rgba(0, 0, 0 0.1);
  cursor: pointer;
}

.mwBtn-white:hover {
  background-color: #c8c7cc;
  color: #fff;
}

.mwInput {
  width: 300px;
  height: 50px;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.1);
  border-radius: 25px;
}

.mwInput:focus {
  outline: none;
}

.ease-linear {
  transition-timing-function: linear;
}
